body {
    font-family: "Lato", sans-serif;
    background-color: #1aaf89;
}

/* DASHBOARD */
#bg_dashboard{
    background-color: #1aaf89;
}

/* DASHBOARD -- NAV */ 

nav.navbar.navbar-default.navi {
    background-color: #262626;
    border:none;
    margin: 0px;
    height: 100%;
}
.logo.img-responsive{
    width:25%;
    margin: O;
    padding-top:15px;
    display:inline-table;
    padding:15px 0px 15px 33px;
}
.rouage{
    width:20px;
    padding-top:12px;
}

hr{
    margin: 7px 0px 7px 0px;
}

#profil{
    width: 35%;
    border-radius: 50%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.param-icones{
    padding-right: 10px;
    width: 16%;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #262626;
    opacity: 0.9;
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 12px;
    color:gainsboro;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* DASHBOARD -- COMPTEUR */

.compteur{
  height: 200px;
  width: 200px;
  display: table-cell;
  text-align: center;
  border-radius: 50%; 
  background: #dc704c;
  border: 5px solid #f6bc9f;
  color: white;
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

#nombre_cred{
font-size: 80px;
margin: 0px;
}

#credits{
    font-size: 20px;
}

/* DASHBOARD -- CALL TO ACTION */

.dash{
    margin-top: 20px;
}

.picto_btn{
    width:40px;
    margin: auto;
    margin-top:18px; 
}

.cercle{
    height: 80px;
  width: 80px;
  display: table-cell;
  border-radius: 50%; 
  background: #1f8c70;
  border: 3px solid white;
  color: white;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin:auto;
}

.calltoaction{
    text-align: center;
    color: white;
    margin: 10px 0px 10px 0px;
}

a#acheter{
    color:white;
   
}

a#acheter:hover{
    text-decoration: none;
}