#precedent{
    width:30px;
    margin:12px 0px 15px 33px;
}

.produit{
    background-color: white;
}

#sac_toile{
    width:80px;
}

.btn-produit{
    background-color: red;
    border: none;
    margin-top: 10px;
    width: 100%;
}

